<h1>New Note</h1>
<%= #render 'form', note: @note
%>
<%= @event_id = (request.original_url.split('/')[4]) %>

<%= render 'form', note: @note, event_id: @event_id %>
<%= link_to 'Back', event_notes_url %>
